.cls
{
    background-color: rgb(255, 242, 170);
    box-shadow: 2px 2px 5px #5e5e5e;
    cursor: pointer;
    padding: 60px 60px;
    transition: all 0.2s;
    border-radius: 10px  100px 100px 10px;
}

.cls:hover
{
    background-color: rgb(255, 242, 170);
    box-shadow: 5px 5px 5px #5e5e5e;
    padding: 60px 200px;
}

/* .cls:focus
{
    box-shadow: 0 0 0 3px rgb(38, 0, 255);
} */

.cls:active
{
    background-color: rgb(255, 242, 170);
    padding: 60px 300px;
}


.cls1
{
    background-color: rgb(255, 242, 170);
    box-shadow: 2px 2px 5px #5e5e5e;
    cursor: pointer;
    padding: 60px 60px;
    transition: all 0.2s;
    border-radius: 10px  100px 100px 10px;
}

.cls1:hover
{
    background-color: rgb(255, 242, 170);
    box-shadow: 5px 5px 5px #5e5e5e;
    padding: 60px 200px;
}

/* .cls1:focus
{
    box-shadow: 0 0 0 3px rgb(38, 0, 255);
} */

.cls1:active
{
    background-color: rgb(255, 242, 170);
    padding: 60px 300px;
}


.cls2
{
    background-color: rgb(255, 242, 170);
    box-shadow: 2px 2px 5px #5e5e5e;
    cursor: pointer;
    padding: 60px 60px;
    transition: all 0.2s;
    border-radius: 10px  100px 100px 10px;
}

.cls2:hover
{
    background-color: rgb(255, 242, 170);
    box-shadow: 5px 5px 5px #5e5e5e;
    padding: 60px 200px;
}

/* .cls:focus
{
    box-shadow: 0 0 0 3px rgb(38, 0, 255);
} */

.cls2:active
{
    background-color: rgb(255, 242, 170);
    padding: 60px 300px;
}

.cls3
{
    background-color: rgb(255, 242, 170);
    box-shadow: 2px 2px 5px #5e5e5e;
    cursor: pointer;
    padding: 60px 60px;
    transition: all 0.2s;
    border-radius: 10px  100px 100px 10px;
}

.cls3:hover
{
    background-color: rgb(255, 242, 170);
    box-shadow: 5px 5px 5px #5e5e5e;
    padding: 60px 200px;
}

/* .cls:focus
{
    box-shadow: 0 0 0 3px rgb(38, 0, 255);
} */

.cls3:active
{
    background-color: rgb(255, 242, 170);
    padding: 60px 300px;
}
