.cls3
{
    background-color: rgb(255, 255, 255);
    /* box-shadow: 2px 2px 5px #5e5e5e; */
    cursor: pointer;
    padding: 60px 60px;
    transition: all 0.2s;
    border-radius: 10px  100px 100px 10px;
    border: none;
    position: relative;
    top: 10px;
}

.cls3:hover
{
    background-color: rgb(255, 255, 255);

    padding: 60px 200px;
    border: none;
}

/* .cls:focus
{
    box-shadow: 0 0 0 3px rgb(38, 0, 255);
} */

.cls3:active
{
    background-color: rgb(255, 255, 255);
    padding: 60px 300px;
    border: none;
    box-shadow: 5px 5px 5px #504b4b;
}

